<ion-view view-title="">
  

    <div id="impresshook">
        <div class="impress">
            <div ng-click="$emit('nextSlide')" id="bored" class="step slide active present" data-x="-1000" data-y="-1500" style="position: absolute; transform: translate(-50%, -50%) translate3d(-1000px, -1500px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <q>Voulez vous allez plus <b>loin</b> dans vos présentations?</q>
        </div>
    
        <div ng-click="$emit('nextSlide')" class="step slide future" data-x="0" data-y="-1500" id="step-2" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, -1500px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <q>Faire la différence grâce à des nouveaux <strong> moyens technologiques</strong>?</q>
        </div>
    
        <div ng-click="$emit('nextSlide')" class="step slide future" data-x="1000" data-y="-1500" id="step-3" style="position: absolute; transform: translate(-50%, -50%) translate3d(1000px, -1500px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1); transform-style: preserve-3d;">
            <q>Pour vos <strong>commerciaux</strong> ou <strong>VP</strong>?</q>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="title" class="step future" data-x="0" data-y="0" data-scale="4" style="position: absolute; transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4); transform-style: preserve-3d;">
            <span class="try">vous pouvez compter sur</span><h1>CGI</h1>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="its" class="step future" data-x="850" data-y="3000" data-rotate="90" data-scale="5" style="position: absolute; transform: translate(-50%, -50%) translate3d(850px, 3000px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(5); transform-style: preserve-3d;">
            <p>Ces outils <strong>existent</strong>, <br>
            déployés par nos équipes<br>
            spécialisées dans votre <strong>métier</strong>.</p>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="big" class="step future" data-x="3500" data-y="2100" data-rotate="180" data-scale="6" style="position: absolute; transform: translate(-50%, -50%) translate3d(3500px, 2100px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scale(6); transform-style: preserve-3d;">
            <p>déployez vos <b>idées</b>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="tiny" class="step future" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1" style="position: absolute; transform: translate(-50%, -50%) translate3d(2825px, 2325px, -3000px) rotateX(0deg) rotateY(0deg) rotateZ(300deg) scale(1); transform-style: preserve-3d;">
            <p>Même les plus <b>"modestes"</b></p>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="ing" class="step future" data-x="3500" data-y="-850" data-rotate="270" data-scale="6" style="position: absolute; transform: translate(-50%, -50%) translate3d(3500px, -850px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(270deg) scale(6); transform-style: preserve-3d;">
            <p>Nous pouvons vous accompagner <b class="positioning">partout</b>, du plus <b class="rotating">petit</b> au <b class="scaling">plus grand</b> projet</p>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="imagination" class="step future" data-x="6700" data-y="-300" data-scale="6" style="position: absolute; transform: translate(-50%, -50%) translate3d(6700px, -300px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(6); transform-style: preserve-3d;">
            <p>la seule <b>limite</b> est votre <b class="imagination">imagination</b></p>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="source" class="step future" data-x="6300" data-y="2000" data-rotate="20" data-scale="4" style="position: absolute; transform: translate(-50%, -50%) translate3d(6300px, 2000px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(20deg) scale(4); transform-style: preserve-3d;">
            <p>d'autres informations ?</p>
            <q>sur notre site <a href="http://www.cgi.com">cgi.com</a></q>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="one-more-thing" class="step future" data-x="6000" data-y="4000" data-scale="2" style="position: absolute; transform: translate(-50%, -50%) translate3d(6000px, 4000px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(2); transform-style: preserve-3d;">
            <p>Merci de votre attention...</p>
        </div>
    
        <div ng-click="$emit('nextSlide')" id="its-in-3d" class="step future" data-x="6200" data-y="4300" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="2" style="position: absolute; transform: translate(-50%, -50%) translate3d(6200px, 4300px, -100px) rotateX(-40deg) rotateY(10deg) rotateZ(0deg) scale(2); transform-style: preserve-3d;">
            <p><span class="have">CGI</span> <span class="you">Insurance</span> <b>Labs</b></p>
       </div>
    
        </div>
       
    </div>

</ion-view>